In [1]:
print("Hello World")

Hello World

#### ✅ 1. add()  
Adds a single element to the set

In [4]:
s = {1,2,3}
print(f"Before Additon: {s}")
s.add(4)
print(f"After Addition: {s}")

Before Additon: {1, 2, 3}
After Addition: {1, 2, 3, 4}

#### ✅ 2. clear()
Removes all elements from the set.

In [6]:
s = {1,2,3,4}
print(f"Befor clear(): {s}\nLength of item in set: {len(s)}")
s.clear()
print(f"After clear(): {s}\nLength of item in set: {len(s)}")

Befor clear(): {1, 2, 3, 4}
Length of item in set: 4
After clear(): set()
Length of item in set: 0

#### ✅ 3. copy()
Returns a shallow copy of the set.

In [10]:
s = {1,2,3,4}
c = s.copy()
c.add(5)
print(f"Orignal copy: {s}")
print(f"shallow copy: {c}")

Orignal copy: {1, 2, 3, 4}
shallow copy: {1, 2, 3, 4, 5}

#### ✅ 4. difference()
Returns elements in one set but not in another.

In [15]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(f"Difference between {s1} and {s2} = {s1.difference(s2)}")
print(f"Difference between {s2} and {s1} = {s2.difference(s1)}")

print(f"{s1} - {s2} = {s1 - s2}")
print(f"{s2} - {s1} = {s2 - s1}")

Difference between {1, 2, 3, 4} and {3, 4, 5, 6} = {1, 2}
Difference between {3, 4, 5, 6} and {1, 2, 3, 4} = {5, 6}
{1, 2, 3, 4} - {3, 4, 5, 6} = {1, 2}
{3, 4, 5, 6} - {1, 2, 3, 4} = {5, 6}

#### ✅ 5. difference_update()
Removes elements found in another set from the original set.

In [22]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
print(f"Before Difference_update {s1}")
print(f"Before Difference_update = {s2}")
s1.difference_update(s2)
s2.difference_update(s1)

print(f"After Difference_update {s1}")
print(f"After Difference_update = {s2}")

Before Difference_update {1, 2, 3, 4}
Before Difference_update = {3, 4, 5, 6}
After Difference_update {1, 2}
After Difference_update = {3, 4, 5, 6}

#### ✅ 6. discard()
Removes a specified element. Does nothing if the element doesn't exist.

In [26]:
s = {1,2,3,4}
s.discard(2)
print(s)
s.discard(5)
print(s)

{1, 3, 4}
{1, 3, 4}

#### ✅ 7. intersection()
Returns elements common to both sets.

In [31]:
s1 = {1,2,3,4,5}
s2 = {5,6,7,8,9}

print(f"Intersection of {s1} and {s2} = {s1.intersection(s2)}") #return common to both sets
print(f"{s1} & {s2} = {s1 & s2}")

Intersection of {1, 2, 3, 4, 5} and {5, 6, 7, 8, 9} = {5}
{1, 2, 3, 4, 5} & {5, 6, 7, 8, 9} = {5}

#### ✅ 8. intersection_update()
Keeps only elements found in both sets.

In [35]:
s1 = {1,2,3,4,5}
s2 = {5,6,7,8,9}
print(f"Before Intersection_update of {s1} and {s2}") #return common to both sets
s1.intersection_update(s2)
print(f"After Intersection_update of {s1}") #return common to both sets

Before Intersection_update of {1, 2, 3, 4, 5} and {5, 6, 7, 8, 9}
After Intersection_update of {5}

#### ✅ 9. isdisjoint()
Returns True if two sets have no elements in common.

In [38]:
s1 = {1,2,3,4,5}
s2 = {8,9,6,7}

print(s1.isdisjoint(s2))

True

#### ✅ 10. issubset()
Returns True if all elements of one set are in another.

In [39]:
s1 = {1,2,3,4,5}
s2 = {1,2,3,4,5,6,7,8,9}

print(s1.issubset(s2))

True

##### ✅ 11. issuperset()
Returns True if the set contains all elements of another set.

In [40]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}
print(s1.issuperset(s2))

True

##### ✅ 12. pop()
Removes and returns an arbitrary element.

In [52]:
s1 = {2,3,4,5,6,7}
print(s1)
r_item=s1.pop()
print(f"Pop {r_item} Now Set look like: {s1}")

{2, 3, 4, 5, 6, 7}
Pop 2 Now Set look like: {3, 4, 5, 6, 7}

##### ✅ 13. remove()
Removes a specific element. Raises an error if not found.

In [ ]:
s1 = {1,2,3,4,5,6}
print(s1)
s1.remove(3)
print(s1)
s1.remove(9) # raise error if not founded

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

KeyError: 9

#### ✅ 14. symmetric_difference()
Returns elements in either set, but not in both.

In [55]:
s1 = {1,2,3,4,5,6}
s2 = {3,4,5,6,7,8}

s1.symmetric_difference(s2)
print(s1)

{1, 2, 3, 4, 5, 6}

#### ✅ 15. symmetric_difference_update()
Updates the set with elements that are in either, but not both.

In [56]:
a = {1, 2, 3}
b = {3, 4}
a.symmetric_difference_update(b)
print(a)  # {1, 2, 4}

{1, 2, 4}

#### ✅ 16. union()
Returns all unique elements from both sets.

In [60]:
a = {1, 2}
b = {2, 3}
print(a.union(b))

{1, 2, 3}

#### ✅ 17. update()
Adds elements from another set (or iterable) into the set.

In [59]:
a = {1, 2}
b = {2, 3}
a.update(b)
print(a)

{1, 2, 3}